name: Check Asset File Sizes

on:
  push:
    branches:
      - '**'  # All branches
    paths:
      - "**"  # All paths

jobs:
  file-size-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Check file sizes
        run: bash scripts/lint/check-file-size.sh .